In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Review

## Discussion Question 1

The past weeks temperatures in Fahrenheit were:
70, 68, 66, 71, 72, 70, 68

The connection between Fahrenheit temperature F and Celsius temperature C is:
C = 5/9(F - 32)

Use an array calculation to convert all these Fahrenheit temperatures to Celsius.

In [3]:
fahrenheit_temps = make_array(70, 68, 66, 71, 72, 70, 68)
celsius_temps = 5 / 9 * fahrenheit_temps
celsius_temps

array([ 38.88888889,  37.77777778,  36.66666667,  39.44444444,
        40.        ,  38.88888889,  37.77777778])

In [5]:
# Bonus: Round them all to one decimal place
celsius_temps = np.round(celsius_temps, 1)
celsius_temps

array([ 38.9,  37.8,  36.7,  39.4,  40. ,  38.9,  37.8])

## Discussion Question 2

A lemonade stand sold
- 50 cups of lemonade at $3.50 each
- 35 bottles of water at $2.00 each
- 25 cookies at $3.00 each

Create an array for sales and an array for cost. Use these to produce a third array for revenue generated by each item (lemonade revenue in the first entry, water revenue in the second, and cookie revenue in the third).

In [7]:
sales = make_array(50, 35, 25)
cost = make_array(3.50, 2.00, 3.00)
revenue = sales * cost
revenue

array([ 175.,   70.,   75.])

In [8]:
# Bonus: The total revenue is
np.sum(revenue)

320.0